{% if slide|is_string %}

  {% include 'slides/' + slide|slugify + '.html' %}

{% elif slide|is_array %}

  <section>
  {% for childSlide in slide %}
      {% include 'slides/' + childSlide|slugify + '.html' %}
  {% endfor %}
  </section>

{% endif %}
