include partials/slide.jade

doctype html
html
  head
    link( href='css/app.css', rel='stylesheet' )
    
  body
    .reveal
      .slides
        each slide in slides
          +slide(slide)
          
    script( src='js/app.js' )
