.profile {
  position: relative;

  .inner {
    position: absolute;
    left: 75px;
    top: 2px;
  }
}

.interface {
  position: relative;

  .inner {
    position: absolute;
    left: 52px;
    top: 0;
  }
}

.two-profiles {
  position: relative;

  .inner {
    position: absolute;
    left: 36px;
    top: 0;
  }
}
