
body {
  font-family: $body-font;
  font-size: modular-scale(1, $ms-base);
  color: $grey;
}


/* ==========================================================================
   Slide Title
   ========================================================================== */
.slide-title {
  @include text-size(tiny);
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  color: $medium-grey;
  line-height: 1em;

  span {
    opacity: 1;
    transition: opacity .5s;
  }

  &.transitioning {
    span {
      opacity: 0;
      transition: opacity .5s;
    }
  }

  &::before {
    content: url('/img/gear.png');
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    opacity: .5;
    margin-right: .5em;
  }

  .red-bg & {
    color: $transparent-white;

    &::before {
      content: url('/img/gear_white.png');
    }
  }
}



.reveal {
  transition: background .5s, color .5s;

  /* ==========================================================================
     Selections
     ========================================================================== */
  ::selection {
    color: $white;
    background: $turquoise;
    text-shadow: none;
  }

  /* ==========================================================================
     Paragraph
     ========================================================================== */
  p {
    @extend %default-text;
    @include line-break;
  }


  /* ==========================================================================
     Code
     ========================================================================== */
  code {
    @include code-style(light);

    .red-bg & {
      @include code-style(dark);
    }
  }



  /* ==========================================================================
     Headers
     ========================================================================== */


  h1 { @include text-size(xlarge); @include heading-margin; }
  h2 { @include text-size(large); @include heading-margin; }
  h3 { @include text-size(medium); @include heading-margin; }
  h4 { @include text-size(default); @include heading-margin; font-weight: 900; }
  h5 { @include text-size(default); @include heading-margin; font-weight: 900; }
  h6 { @include text-size(default); @include heading-margin; font-weight: 900; }



  /* ==========================================================================
     Text Color Classes
     ========================================================================== */
  .turquoise-text { color: $turquoise; }
  .red-text { color: $red; }
  .blue-text { color: $blue; }
  .purple-text { color: $purple; }
  .yellow-text { color: $yellow; }

  /* ==========================================================================
     Background color classes
     ========================================================================== */
  .turquoise-bg { background: $turquoise; color: $white; }
  .red-bg { background: $red; color: $white; }
  .blue-bg { background: $blue; color: $white; }
  .purple-bg { background: $purple; color: $white; }
  .yellow-bg { background: $yellow; }


  /* ==========================================================================
     Lists
     ========================================================================== */
  ul, ol {
    @include list;

    li {
      ul, ol {
        @include list(nested);
      }
    }
  }


  /* ==========================================================================
     Slide Backgrounds
     ========================================================================== */

  .turquoise-bg & {
    background: $transparent-turquoise;
  }

  .red-bg & {
    background: $red;
    color: $white;
  }

  .overlay & {
    section {
      background: transparentize($white, .25);
    }
  }


  /* ==========================================================================
     Grid
     ========================================================================== */
  .split {
    @include split;

    .half {
      @include half;
    }

    .one-third {
      @include one-third;
    }

    .two-thirds {
      @include two-thirds;
    }
  }


  /* ==========================================================================
     Slide Number
     ========================================================================== */
  .slide-number {
    color: $grey;
  }



  /* ==========================================================================
     Controls
     ========================================================================== */
  .controls {
    @include controls(light);

    .red-bg & {
      @include controls(dark);
    }
    .overlay & {
      @include controls(dark);
    }
  }

  /* ==========================================================================
     Progress Bar
     ========================================================================== */
  .progress {
    background: $transparent-grey;
    transition: width 800ms;

    span {
      background: $grey;
    }
  }





  .slides {
    section {

      /* ==========================================================================
         Fragments
         ========================================================================== */
      .fragment {
        transition: opacity .2s, visibility .2s;
      }
    }
  }


  /* ==========================================================================
     PromptWorks Intro Slide
     ========================================================================== */
  .promptworks-slide {
    text-align: left;

    img {
      max-width: 25%;
      margin-bottom: 5rem;
    }

    .intro {
      @include text-size(xlarge);
      max-width: 70%;
    }
  }
}
